.content{
  min-height: calc(100vh - 85px - 50px);
  color: aliceblue;
}

.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.activators{
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

label:not(:last-child) {
  margin-right: 1rem;
}